.nav-link {
  @apply duration-300 transition-colors;
}

.nav-link::after {
  @apply absolute content-[""] bg-black top-full h-[3px] w-0 left-0 duration-300;
}

.nav-link:hover::after {
  @apply w-full;
}

.sticky {
  @apply fixed top-0 w-full;
}

.hide-sidebar {
  @apply transform -translate-x-[200px] transition-transform duration-300 ease-out;
}

.humbarger-menu {
  @apply fixed z-50 text-left w-[300px] p-10 pt-24 -right-[300px] transition-transform duration-500 top-0 leading-tight font-semibold shadow-md h-screen flex flex-col gap-10 bg-white max-[400px]:p-5 max-[400px]:pt-24;
  z-index: 99999999999;
  transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1);
}
